<% wrap_layout :public do %>
<article class="day-summary">
  <header class="summary-header">
    <h1><%= current_article.date.strftime("%A, %B %e %Y") %></h1>
  </header>
  <!-- /summary-header -->

  <div class="summary-body">
    <ul class="important-articles">
      <%= yield %>
    </ul>
  <!-- /important-articles -->
  </div>
  <!-- /summary-body -->

  <footer class="summary-footer">
    &mdash; 30 &mdash;
  </footer>
  <!-- /summary-footer -->

</article>
<!-- /day-summary -->
<% end %>