<section class="sign-up-form">
  <form action="http://queencitystacks.createsend.com/t/t/s/huljy/" method="post" id="subForm">
    <div>
    <label for="huljy-huljy">Email:</label><input type="email" name="cm-huljy-huljy" id="huljy-huljy" />

    <input type="submit" value="Subscribe" />
    </div>
  </form>
</section>
