%form{method: :post}
  %label{for: :name} Name
  %input{type: :text, name: 'subscriber[name]', placeholder: 'Frank Farmer'}

  %label{for: :email} Email
  %input{type: :text, name: 'subscriber[email]', placeholder: 'frank@ffa.com'}

  %button{type: :submit} Subscribe

