<ul class="important-articles">
  <% 5.times do %>
  <li class="article">
    <%= content_tag :h2, link_to("Busssinesses ordered to leave struggling Tower Place Mall in downtown Cincinnati", '#', target: "_blank") %>
    <%= content_tag :p, "First it was retail shops, now it's businesses. Tower Place can't buy a basket. The struggling downtown mall has ordered all five of it's remaining tenants to leave. The once-popular mall year-to-date income losses are more than $1 million." %>
    <%= link_to 'Read more&hellip;', '#', class: 'read-more', target: "_blank" %>
  </li>
  <% end %>
</ul>
<!-- /important-articles -->