<% content_for :page_classes do %>
  'about'
<% end %>
<article class="about-page">
  <h1>About Queen City Stacks</h1>
  <% 3.times do %>
  <p>Suspendisse potenti. Sed nec tortor arcu, id faucibus mauris. Pellentesque ornare tellus sed metus commodo in tincidunt velit dignissim. Proin a odio leo, id molestie augue. Morbi fermentum augue a leo pellentesque vitae lobortis dui bibendum. Mauris eu velit non libero sagittis lobortis in ac erat. Fusce rutrum metus ut leo facilisis sed consequat lacus dapibus. Ut adipiscing molestie vehicula. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Vivamus a ante enim. Cras sit amet lacus ante, elementum faucibus leo.</p>
  <% end %>
</article>
<!-- /about-page -->