
<article class="day-summary">
  <header class="summary-header">
    <h1><%= blog.articles.first.date.strftime("%A, %B %e %Y") %></h1>
  </header>
  <!-- /summary-header -->

  <div class="summary-body">
    <ul class="important-articles">
    <% todays_articles.each do |article| %>
      <li class="article">
        <h2><%= link_to article.title, article.data.try(:[], :url), target: '_blank' %></h2>
        <p><%= article.body %></p>
        <%= link_to 'Read more &hellip;', article.data.try(:[], :url), class: 'read-more', target: '_blank' %>
      </li>
    <% end %>
    </ul>
  <!-- /important-articles -->
  </div>
  <!-- /summary-body -->

  <footer class="summary-footer">
    &mdash; 30 &mdash;
  </footer>
  <!-- /summary-footer -->

</article>
<!-- /day-summary -->
