

<article class="day-summary">
  <header class="summary-header">
    <h1>Monday, January 7th 2013</h1>
    
  </header>
  <!-- /summary-header -->

  <div class="summary-body">
    <%= partial '1-11-2013' %>
  </div>
  <!-- /summary-body -->

  <footer class="summary-footer">
    &mdash; 30 &mdash;
  </footer>
  <!-- /summary-footer -->

</article>
<!-- /day-summary -->